@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f7f9fc;
}

.contact-wrapper {
  width: 100%;
  text-align: center;
}

.contact-header {
  padding: 60px 0;
  background: linear-gradient(to bottom, #0b2b52d4, #0b2b52d4),
    url("https://images.unsplash.com/photo-1525186402429-b4ff38bedbec") center/cover;
  color: #fff;
}

.contact-header h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.contact-header p {
  font-size: 18px;
}

.contact-container {
  width: 85%;
  margin: 40px auto;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 8px 50px rgba(0, 0, 0, 0.1);
}

/* LEFT */
.contact-left {
  width: 45%;
}

.contact-left h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.contact-left p {
  font-size: 15px;
  color: #666;
  margin-bottom: 25px;
}

.info-box {
  display: flex;
  margin-bottom: 25px;
}

.icon {
  width: 45px;
  height: 45px;
  background: #e8f1ff;
  color: #0052ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 15px;
  font-size: 18px;
}

.social-title {
  margin-top: 25px;
  font-size: 18px;
}

.social-icons {
  font-size: 22px;
  margin-top: 10px;
  display: flex;
  gap: 15px;
  color: #0b2b52;
  cursor: pointer;
}

.social-icons svg:hover {
  color: #0052ff;
}

/* RIGHT */
.contact-right {
  width: 50%;
}

.contact-right h3 {
  font-size: 26px;
  margin-bottom: 25px;
}

.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

input,
textarea {
  width: 100%;
  padding: 13px 15px;
  border-radius: 12px;
  border: 1px solid #e4e4e4;
  background: #fafafa;
  outline: none;
  font-size: 14px;
}

.full {
  width: 100%;
  margin-bottom: 15px;
}

textarea {
  height: 120px;
  resize: none;
}

.send-btn {
  width: 100%;
  padding: 12px;
  background: #0052ff;
  border: none;
  color: #fff;
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.send-btn:hover {
  background: #0039c7;
}

